body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: blueviolet;
    background-color: beige;
}

p {
    background-color: crimson;
    color: white;
}

button {
    background-color: bisque;
    color: brown;
}