
h1{
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5px;
    text-decoration: teal double underline;
    text-transform: uppercase;
}

#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
} 